.postContent {
  border-radius: 8px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 20px;
  margin-bottom: 28px;
  background-color: white;
  max-width: 100%;
  box-shadow: none;

  img {
    max-width: 100%;
    height: auto;
  }
}
