:root {
  --primary-color: #e55c78;
  --primary-hover-color: #d94f6c;
  --white-color: #FFFFFF;
  --text-color: #000000;
  --border-color: #F2F2F2;
}
@font-face {
  font-family: "My Font";
  src: url('/fonts/myfont.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-family: "My Font";
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 360px;
  min-height: 100%;
  background: #fafafa;
}


