.container {
  display: flex;
  flex-direction:column;
}

.main {
  display: flex;
  flex-direction:row;
  align-items: flex-start;
}

.postList {
  display: flex;
  flex: 1;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0 auto;
  justify-content: center;
  position: relative;
}

.leftSideBar {
  width: 220px;
}

.rightSideBar {
  width: 320px;
}

.loginModal {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.createPostModal {
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}



