.header {
    width: 100%;
    height: 60px;
    background-color: #feebef;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
}

.container {
    display: flex;
    padding-left: 35px;
    padding-right: 35px;
}

.sectionLeft {
    display: flex;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 22px;
    width: 185px;
}

.burger {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    width: 24px;
    height: 24px;
    opacity: 1;
    transition: opacity 0.3s;
    background: transparent;

    &:hover {
        opacity: 0.6;
    }
}

.link {
    display: flex;
    position: relative;
    font-size: 20px;
    line-height: 18px;
    font-weight: 500;
    color: black;
    outline: none;
    text-decoration: none;
    font-family: Arial;
}

.sectionCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 640px;
    margin: 0 auto;
}

.sectionRight {
    display: flex;
    align-items: center;
    width: 285px;
    justify-content: flex-end;
}

.createBtn {
    margin-left: 16*.75;
    margin-right: 16*-.5;
    margin-bottom: 8px;
    padding: 9px 11px;
    background-color: #ffff;
    border-radius: 8px;
    box-shadow: 0 0px 2px rgba(0,0,0,.08), inset 0 0 0 1px rgba(0,0,0,.06), inset 0 -1px 0 rgba(0,0,0,.12), inset 1px 0 0 rgba(0,0,0,.06), inset -1px 0 0 rgba(0,0,0,.06);
    img {
        margin-right: 8px;
    }
}

.createBtn:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,.08), inset 0 0 0 1px rgba(0,0,0,.06), inset 0 -1px 0 rgba(0,0,0,.12), inset 1px 0 0 rgba(0,0,0,.06), inset -1px 0 0 rgba(0,0,0,.06);
}

.createBtn:active{
    transform: translate(0, 0.05em);
}

.notificationsBtn {
    display: flex;
    padding: 0 16px;
    background: none;
    font-weight: 510;
    color: black;

    img {
            content: url("/images/bell_black.svg");
    }
}

.notificationsBtn:hover{
    img {
        content: url("/images/bell_pink.svg");
    }
}

.personBtn {
    display: flex;
    align-items: center;
    padding-left: 16px;
    justify-content: center;
    background: none;
    font-weight: 510;
    color: black;
    font-size: 16px;

    p {
        color: black;
    }
    img {
        margin-right: 8px;
        content: url("/images/login_black.svg");
    }
}



.personBtn:hover{
    p {
        color: #e55c78;
    }
    img {
        content: url("/images/login_pink.svg")
    }
}

.profile {
    position: relative;
}

.menu {
    position: absolute;
    top: 48px;
    right: 0;

    width: 180px;

    background: white;
    border: 1px solid #eee;
    border-radius: 8px;

    box-shadow: 0 8px 24px rgba(0,0,0,.08);

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.menu button {
    justify-content: flex-start;
    padding: 12px 16px;
    background: transparent;
    border: none;

    &:hover {
        background: #f7f7f7;
    }
}



